<div class="modal fade" id="changeProfilePhotoModal" tabindex="-1" aria-labelledby="changeProfilePhotoModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="changeProfilePhotoModal">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile02" (change)="onChange($event)">
          </div>
          <img *ngIf="imageSrc" style="height: 80px;" [src]="imageSrc[0]" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button [style]="style()"  (click)="uploadPhoto()" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>