<app-statusdialog></app-statusdialog>
<app-profilephotodialog></app-profilephotodialog>
<!-- Button trigger modal -->

<div class="container-fluid">
  <div class="row">
    <div class="d-flex align-items-center justify-content-center col-sm-12 col-md-6">
      <div class="d-flex" style="flex-direction: column; align-items: center">
        <img class="image" src="https://github.com/mdo.png" alt="" />
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <form [formGroup]="updateUserFormGroup">
      <div class="input-group mb-3">
        <input
        formControlName="email"
        [(ngModel)]="user.email"
          type="text"
          class="form-control"
          placeholder="Email"
          aria-label="Name"
          aria-describedby="basic-addon1"
        />
      </div>

      <div class="input-group mb-3">
        <input
        formControlName="username"
          [(ngModel)]="user.username"
          type="text"
          class="form-control"
          placeholder="UserName"
          aria-label="UserName"
          aria-describedby="basic-addon1"
        />
      </div>

      <div class="input-group mb-3">
        <input
        formControlName="firstName"
          [(ngModel)]="user.firstName"
          type="text"
          class="form-control"
          placeholder="First Name"
          aria-label="Surname"
          aria-describedby="basic-addon1"
        />
      </div>

      <div class="input-group mb-3">
        <input
        formControlName="lastName"
        [(ngModel)]="user.lastName"
          type="text"
          class="form-control"
          placeholder="Last Name"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>

      <div class="input-group mb-3">
        <input
        formControlName="password"
        [(ngModel)]="user.password"
          type="password"
          class="form-control"
          placeholder="Password"
          aria-label="Password"
          aria-describedby="basic-addon1"
        />
      </div>
    </form>
    </div>
  </div>
  <div class="d-flex justify-content-center row">
    <button
      type="button"
      class="btn btn-primary"
      style="width: 150px; border-radius: 10px; margin-right: 10px;"
      data-bs-toggle="modal"
      data-bs-target="#changeStatusModal"
    >
      Change Status
    </button>

    <button
      type="button"
      class="btn btn-warning"
      style="width: 150px; border-radius: 10px; margin-right: 10px;"
      data-bs-toggle="modal"
      data-bs-target="#changeProfilePhotoModal"
    >
      Change Photo
    </button>
  
    <button
    (click)="update()"
    type="button"
    class="btn btn-success"
    style="width: 150px; height: 40px; width: 200px; border-radius: 10px;"
  >
    Save Informaton
  </button>
  </div>

  <hr>
  <div style="font-weight: bold; background-color: red; color: white; width: 150px; display: flex; justify-content: center; border-radius: 10px;">DANGER ZONE!</div>
  <div style="width: 100%; display: flex; justify-content: center;">
    <div style="width: fit-content; background-color: rgb(196, 196, 196); display: flex; flex-direction: column;">
      <h6>If you remove your account,Delete informations!</h6>
      <div style="width: 100%; display: flex; justify-content: center;">
        <button class="btn btn-danger" style="width: 200px;font-weight: bold;">REMOVE ACCOUNT</button>

      </div>
    </div>
  </div>
</div>
